.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}
.navBg{
    background-color:  #426cb4;
    position: fixed;
    width: 100vw;
    z-index: 20;
}
.navigationLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.logo{
    cursor: pointer;
}
@media screen and (max-width: 611px) {
  
    .navigationLinks{
        display: flex !important;
        flex-direction: column;
        gap: 30px;
        justify-content: space-between;
        align-items: self-start;
        width: 60%;
    }
    .heroSection{
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        color: #004799;
        width: 100%;
    }
}